.header-container {
    position: relative;
    height: 700px;
    background-image: url('../../../images/chairBG.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.header-container::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 26%;
    height: 600px;
    background-color: #3A4256;
    z-index: -1;
}